<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>“某某app”想访问您的位置，为了提供附近的院校、服务机构等资讯</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>“某某app”想访问您的位置，为了提供附近的院校、服务机构等资讯</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
</dict>
</plist>
